//section "Here is what you get"
$white-color: #FFFFFF;
$bg-color-features-section: #F4F4F4;
$header-color-features-section-btn: #8D81AC;
$title-text-color-features-section: #323232;
$text-color-features-section: #848E97;
$header-present-section: #635C73;